{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

    {{form(form)}}

<a href="{{ path('app_product_list') }}">List Products</a>

{% endblock %}
